# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
env/
.Python

# pip
pip-log.txt


# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# AWS
.aws/
*.pem

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
